*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    background-color: #333;

}
/*Header -------------------------------------------*/
.cabecalho{
    display: flex;
    justify-content: center;
    margin: 0.5% 0%;
    border-bottom: 2px solid #9d4edd;

}
.cabecalho .navbar{
    width: 90vw;
    padding: 1%;

}
.navbar-brand img{
    width: 90px;
    height: auto;
    padding-left: 5%;

}
.navbar-collapse{
    background-color: #333;

}
.collapse ul{
    padding-right: 5%;

}
.nav-item .nav-link{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #9d4edd !important;
    padding: 1%;

}
.nav-item .nav-link:hover{
    color: white !important;
    font-size: 1.22em;

}
.navbar-toggler{
    background-color: white;

}

/*Corpo --------------------------------------------*/
.corpo{
    background-color: #333;
    border-bottom: 2px solid #9d4edd;
    width: 100%;

}
.corpo .container-fluid{
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    padding: 2% 0% 5% 0%;
    
}
.corpo .container-fluid h4{
    color: #9d4edd;
    padding: 20px 0px;
    text-align: center;

}
.ultimos-registros{
    margin-top: 1%;
    
}
.registro-veiculo #formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 3%;
    margin-bottom: 3%;

}
.registro-veiculo #formulario div{
    padding: 10px 15px;

}
.registro-veiculo #formulario label{
    color: #9d4edd;
    font-size: 1.1rem;
    
}
.registro-veiculo #formulario select{
    background-color: rgba(0, 0, 0, 0.400);
    color: white;
    width: 15rem;
    height: 3rem;
    border: 1px solid #9d4edd;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10px;

}
.registro-veiculo #formulario select:hover{
    border-bottom: 1px solid white;

}
.registro-veiculo #formulario option{
    border-radius: 10px;
    font-weight: 500;
    
}
.registro-veiculo #formulario button{
    background-color: rgba(0, 0, 0, 0.400);
    color: white;
    font-size: 1rem;
    width: 10rem;
    height: 3rem;
    border: 2px solid #9d4edd;
    border-radius: 10px;

}
.registro-veiculo #formulario button:hover{
    border: 2px solid white;

}
/*Rodape ---------------------------------------------*/
.rodape{
    background-color: rgb(22, 22, 22);
    padding: 5% 0% 0% 0%;
    height: 15vh;

}
.rodape .container-fluid{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: flex-end;

}
.rodape .container-fluid p{
    color: #9d4edd;
    font-size: 1rem;

}