*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    background-color: #333;

}
/*Header -------------------------------------------*/
.cabecalho{
    display: flex;
    justify-content: center;
    margin: 0.5% 0%;
    border-bottom: 2px solid #9d4edd;

}
.cabecalho .navbar{
    width: 90vw;
    padding: 1%;

}
.navbar-brand img{
    width: 90px;
    height: auto;
    padding-left: 5%;

}
.navbar-collapse{
    background-color: #333;

}
.collapse ul{
    padding-right: 5%;

}
.nav-item .nav-link{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #9d4edd !important;
    padding: 1%;

}
.nav-item .nav-link:hover{
    color: white !important;
    font-size: 1.22em;

}
.navbar-toggler{
    background-color: white;

}

/*Corpo --------------------------------------------*/
.corpo{
    background-color: #333;
    border-bottom: 2px solid #9d4edd;

}
.corpo .container-fluid{
    display: flex;
    width: 90vw;
    height: 70vh;
    justify-content: center;
    padding: 1%;
    
}
.corpo .container-fluid h4{
    color: #9d4edd;
    padding-top: 20px;

}
.registro-veiculo #formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
/*Rodape ---------------------------------------------*/
.rodape{
    background-color: rgb(22, 22, 22);
    padding: 5% 0% 0% 0%;

}
.rodape .container-fluid{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: flex-end;

}
.rodape .container-fluid p{
    color: #9d4edd;
    font-size: 1rem;

}